/*https://coolors.co/01161e-124559-598392-d5e4f5-dac4f7*/

:root {
	--darkestblue: #01161e;
	--darkblue: #124559;
}

body {
	background-color: #01161e;
	font-family: "Open Sans", sans-serif;
}

#intro {
	color: white;
	height: 100vh;
	/* border: 10px solid white; */
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#intro h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 96px;
	animation: fadein ease-in 1s;
    font-weight: bold;
    text-shadow: 4px 4px black;
}

#intro h3 {
	animation-delay: 1s;
	animation-name: fadein;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
    text-shadow: 4px 4px black;
}

#intro code {
	margin-top: 20px;
	font-size: 30px;
	text-align: center;
	animation-name: fadein;
	animation-delay: 3s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	opacity: 0;
    color: white;
    text-shadow: 4px 4px black;
}

@media only screen and (max-width: 600px) {
	#intro h1 {
		font-size: 48px;
	}

	#intro code {
		font-size: 16px;
	}
}

#intro h3 {
	margin-top: 20px;
}


#contactIcons{
    font-size: 50px;
    padding-top: 30px;
    text-shadow: 8px 8px black;
    i {
        animation-name: fadein;
        animation-delay: 3s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
        margin: 0 20px;
        color: #d79922;
    }
}

#arrowDown {
	font-size: 75px;
	position: absolute;
	bottom: 30px;
	left: calc(50% - 37.5px);
}

#about {
	color: white;
	background: #124559;
	padding: 30px;

	#bio {
		font-size: 20px;
	}

	#quote{
		padding-top: 12px;
		border-radius: 20px;
		border: 2px solid white;
		box-shadow: -10px 0px 25px #01161e;
		background-color: #295769;
		font-style: italic;
		#quote_title{

		}
		#quote_expression{
			font-family: "Poppins", sans-serif;
			font-weight: 500;
			font-size: 20px;
		}
		#quote_author{
			font-family: "Dancing Script", cursive;
			font-optical-sizing: auto;
			font-weight: 400;
			font-style: normal;
			font-size: 20px;
		}
	}
}
#contact {
	background: #d5e4f5;
	color: black;
	padding: 30px;

	.row {
		margin-bottom: 15px;
	}

	a {
		color: #0437F2;
	}

	input,
	textarea {
		padding: 10px;
		width: 100%;
	}

	.btn {
		width: 100%;
	}
}

#portfolio {
	padding: 30px;
    background: #598392;
    color: white;
	#project_one, 
	#project_two, 
	#project_three, 
	#project_four, 
	#project_five, 
	#project_six{
		box-shadow: -5px 0px 10px #022431;
	}
}

footer {
	padding: 30px;
	background: black;
	color: white;
    p{
        color: #222222;
    }
}

#about,
#portfolio,
#contact,
#stats,
#connect,
footer {
	box-shadow: -10px 0px 25px #01161e;
}

.bg-dark {
	background-color: #598392 !important;
}

.card{
    margin: 10px 0;
}

#project {
	background: var(--darkblue);
	color: white;
	padding: 30px;
}

.badge {
	background-color: black;
	margin-right: 5px;
}

.bold{
    font-weight: bold;
}

#stats{
	background-color: rgb(99, 195, 197);
    padding: 30px 0;
	margin-left: 0.5px;
	margin-right: 0.5px;
	.stats-icon{
		font-size: 35px;
	}
	.stats-num{
		color: white;
		font-size: 35px;
		font-family: "Poppins", sans-serif;
		font-weight: 500;
		font-size: 20px;
		margin-bottom: 0;
	}
	.stats-category{
		color: rgb(208, 243, 246);
		font-weight: bold;
	}
}

#connect{
    background: #151515;
    padding: 30px 0;
	margin-left: 1px;
	margin-right: 1px;
    #contact-slogan-two{
        color: white;
        font-size: 30px;
    }
    #contact-slogan-three{
        color: gray;
		padding-bottom: 40px;        
    }

    .contact-option{
        color: white;

		a {
			padding-bottom: 50px;
			i {
				color: white;
				font-size: 50px;
				/* padding-bottom: 20px; */
			}
		}
    }
}

.orange{
    color: #d79922;
}

.gray{
	color: gray;
}
