#contact_btn a {
        opacity: 60%;
    }

#contact-section {
    padding: 75px 0 100px 0;
    margin: 0px;

    #contact-title {
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 0.1rem;
        padding-bottom: 30px;

    }

    #contact-cards {
        padding-top: 12px;
        
        .contact-section {
            border-radius: 15px;
        }

        #contact-img {
            height: 100%;
        }
        #contact-center-img {
            height: 100%;
            width: 100%;
            margin: 0 auto;
            border-radius: 15px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: #e7e7e7;
            background-image: url("../static/contact-img.jpeg");
        }
    }
}

#contact-form {
    background: #151515;
	color: #1A2A40;
	padding: 25px;
	.row {
		margin-bottom: 15px;
	}

    h3 {
        color: #e7e7e7;
        font-weight: normal;
    }

    ::placeholder {
        color: #1A2A40;
     }

	input,
	textarea {
		padding: 10px;
		width: 100%;
        border-radius: 10px;
        border-bottom: 5px solid#1A2A40;
	}
    textarea {
        height: 150px;
    }

    #message_button {
        font-weight: bold;
        border: 2.5px solid #e7e7e7;
        padding: 10px;
        color: #e7e7e7;

        &:hover {
            background: #e7e7e7;
            cursor: pointer;
            color: #151515;
        }
    }
    
}