html, body {
    /* margin: 0;
    padding: 0; */
    /* height: 100%;
    width: 100%; */
}

.row {
    margin: 0 -12px;

}


#page_header {
    background-color: #0F0F0F;
    color: white;
    min-height: 10vh;
    
    #name_banner {
        #header_name {
            border: 3px solid white;
            border-radius: 5px;
            font-weight: bold;
            font-size: 20px;
            padding: 0px 5px;
        }
    }
    #tabs {
        #about_btn, #product_btn, #coding_btn, #contact_btn {
            a {
                font-size: 15px;
                text-decoration: none;
                color: white;
                letter-spacing: 0.2rem;
            }
        }
    }

    #tabs div:hover {
        color: #2424FF;
        cursor: pointer;
        transform: scale(1.15)
    }
}

#connect{
    color: white;
    background: #151515;
    padding: 15px 0;

    #connect-slogan-two{
        letter-spacing: 0.2rem
    }
    /* #connect-slogan-three{
        color: rgb(42, 40, 40);
		padding-bottom: 25px;        
    } */

    .connect-option{
		a {
			padding-bottom: 30px;
			i {
				color: white;
				font-size: 30px;
			}
			i:hover{
				transform: scale(1.1);
                color: #2424FF;
			}
		}
        p {
            letter-spacing: 0.2rem
        }
    }
}

footer {
	padding: 15px 0px;
	background: #0F0F0F;
	color: #E1DFD6;
    letter-spacing: 0.2rem
}

#page_header, #connect, footer {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
}
