#about_btn a {
        color: #0D6EFD !important;
    }

#title_section {
    background-image: url("../static/o_d.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-weight: bold;
    min-height: 90vh;

    #title_name {
        font-size: 125px;
        letter-spacing: 0.4rem;
    }
        
    #title_position {
        font-size: 20px;
        letter-spacing: 0.4rem;
    }

}

#bio_section {
    min-height: 80vh;
    /* border: 5px solid red; */

    #bio_title {
        font-size: 50px;
        /* border: 5px solid purple; */
        font-weight: bold;
        /* height: 20vh; */
    }
    #bio_para {
        /* border: 1px solid red; */
        /* border: 5px solid purple; */
        p {
            font-size: 30px;
            font-weight: lighter;
            color: rgb(72, 71, 71);
        }
    }
    #bio_btn {
        letter-spacing: 0.2rem;
        /* border: 5px solid purple; */

        #portfolio_btn {
            font-size: 20px;
            font-weight: bold;
            color: #0D6EFD;
            border: 5px solid #0D6EFD;
            border-radius: 5px;
            padding: 15px;
        }
        #portfolio_btn:hover {
            background: #0D6EFD;
            color: white;
        }
        a {
            text-decoration: none;
        }
    }
}

#title_section, #bio_section {
    /* font-family: "Oswald", sans-serif;
    font-optical-sizing: auto; */
}


