#about_btn a {
        color: #2424FF !important;
    }

#title_section {
    background-image: url("../static/o_d.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-weight: bold;
    min-height: 90vh;
    letter-spacing: 0.25rem;

    #title_name {
        font-size: 100px;
    }
        
    #title_position {
        font-size: 15px;
    }

}

#bio_section {
    min-height: 80vh;

    #bio_title {
        font-size: 40px;
        font-weight: bold;
    }
    #bio_para {
        p {
            font-size: 25px;
            font-weight: lighter;
            color: rgb(72, 71, 71);
        }
    }
    #bio_btn {
        letter-spacing: 0.1rem;
        
        #portfolio_btn {
            font-size: 15px;
            font-weight: bold;
            color: #2424FF;
            border: 5px solid #2424FF;
            border-radius: 5px;
            padding: 10px;
        }
        #portfolio_btn:hover {
            background: #FFFFFF;
            color: white;
        }
        a {
            text-decoration: none;
        }
    }
}
/* 
#title_section, #bio_section {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
} */


