.green {
    color:#81DAB3;
}

.pearl {
    color: #FFD6B6;;
}

.gold {
    color: #FFE950;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}

#product_btn a {
        opacity: 60%;
    }

#product-portfolio {
    padding: 75px 0 100px 0;

    #prod-port-title {
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 0.1rem;
        padding-bottom: 30px;
    }

    #prod-port-cards {
        .prod-card {
            background: #151515;
            border-radius: 15px;
            margin: 15px;
            padding: 15px 25px;

            #prod-one-img, #prod-two-img, #prod-three-img {
                height: 200px;
                border-radius: 20px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;  
            }

            #prod-one-img {
                background: #81DAB3;
                background-image: url("../static/lux_ai.png");
                /* aspect-ratio: 1 / 1;   keeps it a square */
                /* overflow: hidden; */
            }

            #prod-two-img {
                background: #FFD6B6;
                background-image: url("../static/clarity_hub.png");
            }

            #prod-three-img {
                background: #8DA2FF;
                background-image: url("../static/fin_path.png");
            }

            .prod-desc {
                font-weight: bold;
                font-size: 10px;
                letter-spacing: 0.2rem;
                margin-top: 15px;
            }

            .prod-brand-name {
                font-size: 25px;
                letter-spacing: 0.2rem;
                color: white;
                font-weight: bold;
            }

            .prod-sum {
                font-weight: bold;
                font-size: 15px;
                letter-spacing: 0.2rem;
                color: white;
                margin-top: 10px;
            }

            .prod_btn {
                letter-spacing: 0.2rem;
                    
                #prod_click_btn {
                    font-size: 10px;
                    font-weight: bold;
                    color: white;
                    border: 2.5px solid white;
                    border-radius: 5px;
                    padding: 5px;
                }
                #prod_click_btn:hover {
                    background: white;
                    color: black;
                    cursor: pointer;
                }
                a {
                    text-decoration: none;
                }
            }
        }
    }
}